<h2>All Questions</h2>

<% @questions.each do |question| %>
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title"><%= question.title %></h5>
    <h6 class="card-subtitle mb-2 text-body-secondary"><time datetime="<%= question.formatted_created_at %>">
        <%= question.formatted_created_at %>
      </time></h6>
    <p class="card-text"><%= question.body %></p>
    <%= link_to "Show", question_path(question) %>
  </div>
</div>
<% end %>