<h2>Question Page</h2>
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title"><%= @question.title %></h5>
    <p><time datetime="<%= @question.formatted_created_at %>">
        <%= @question.formatted_created_at %></p>
    <p class="card-text"><%= @question.body %></p>
    <%= link_to "Edit", edit_question_path(@question), class: "btn btn-info" %>
    <%= button_to 'Destroy', @question, method: :delete, class: "btn btn-warning" %>
  </div>
</div>