<%= render 'shared/errors', object: @iphone %>

<%= form_with model: @iphone do |f| %>

  <div>
    <%= f.label :title, class: "label" %>
    <%= f.text_field :title, class: "form-control" %>
  </div>
  <div>
    <%= f.label :body, class: "label" %>
    <%= f.text_area :body, class: "form-control" %>
  </div>
  <div>
    <%= f.label :price, class: "label" %>
    <%= f.text_field :price, class: "form-control" %>
  </div>
  <div>
    <%= f.label :img, class: "label" %>
    <%= f.text_field :img, class: "form-control" %>
  </div>
  <br>
  <%= f.submit 'Submit', class: "btn btn-primary" %>

<% end %>