<% provide :page_title, 'Show Iphone'%>
<h2>Show Page</h2>
<div class="card border-primary-subtle rounded-3" style="width: 18rem;">
  <img src="<%= @iphone.img %>" class="card-img-top" alt="<%= @iphone.title %>">
  <div class="card-body">
    <h5 class="card-title"><%= @iphone.title %></h5>
    <h6 class="card-subtitle mb-2 fw-bold">Price: <%= @iphone.price %>$</h6>
    <p class="card-text"><%= @iphone.body %></p>
    <%= link_to 'Edit', edit_iphone_path(@iphone), class: "btn btn-danger" %>
    <%= button_to 'Destroy', @iphone, method: :delete, class: "btn btn-warning" %>
  </div>
</div>

<hr class="my-3">
<div>
  <h2>Write your review</h2>
  <%= render 'reviews/form' %>
</div>

<h2 class="mt-3">Reviews</h2>
<div class="card border-primary-subtle rounded-3"  >
<% @reviews.each do |review|%>

  <div class="card-header">
    <%= strip_tags(review.author) %>
  </div>
  <div class="card-body">
    <h5 class="card-title">Rating: <%= strip_tags(review.rating) %></h5>
    <p class="card-text"><%= strip_tags(review.body) %></p>
    <%= link_to 'Edit', edit_iphone_review_path(@iphone, review), class: "btn btn-danger" %>
    <%= button_to 'Destroy', iphone_review_path(@iphone, review), method: :delete, class: "btn btn-warning" %>
  </div>

  <% end %>
</div>