<!DOCTYPE html>
<html>
  <head>
    <title>WebApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <div class="container">
    <%= render 'shared/header'%>
  </div>

    
    <div class="container">
      <div class="row">
      <% flash.each do |key, value| %>
            <%= tag.div value, class: "alert alert-#{key} mt-3", role: "alert" %>
        <% end %>
        <%= yield %>
      </div>
    </div>
    
  </body>
</html>
